body{
    min-height: 100vh;  
    margin: 0;  
    padding: 20px;
    display: flex;
    flex-direction: column; /* mantiene flujo vertical general */
}
main{
   width: 90%;
   margin: 0 auto;
  
}
a {
    text-decoration: none;
}
button {
    padding: 10px 25px;
    border: none;
    border-radius: 20px;
    margin: 5px 5px 5px 5px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.2s ease;
    

}
button:hover{
    transform: translateY(-2px);
}